{% load static %}
<div id="recent-transactions"
     hx-get="{% url 'dashboard:transactions_update' %}"
     hx-trigger="every 15s"
     hx-swap="outerHTML">
  <div class="bg-white overflow-hidden shadow rounded-lg">
    {% if transactions %}
      <div class="divide-y divide-gray-200">
        {% for transaction in transactions %}
        <div class="p-4 flex justify-between items-center">
          <div>
            <p class="text-lg font-semibold {% if transaction.from_account.user == request.user %}text-red-600{% else %}text-green-600{% endif %}">
              ${{ transaction.amount|floatformat:2 }} {% if transaction.from_account.user == request.user %}Dr{% else %}Cr{% endif %}
            </p>
            <p class="text-sm text-gray-700 mt-1 whitespace-normal">{{ transaction.description }}</p>
          </div>
          <p class="text-sm text-gray-500 whitespace-nowrap">
            {{ transaction.created_at|date:"j M, Y" }}
          </p>
        </div>
        {% endfor %}
      </div>
      <div class="px-4 py-3 text-right">
        <a href="{% url 'dashboard:transactions' %}" class="text-sm font-medium text-primary-600 hover:text-primary-500">View all</a>
      </div>
    {% else %}
      <div class="p-6 text-center text-gray-500">
        No recent transactions.
      </div>
    {% endif %}
  </div>
</div>
