asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
crispy-tailwind==1.0.3
dj-database-url==2.3.0
Django==5.2.1
django-crispy-forms==2.4
django-htmx==1.23.0
django-meta==2.5.0
django-robots==6.1
gunicorn==23.0.0
idna==3.10
nulltype==2.3.1
packaging==25.0
pillow==11.2.1
plaid-python==33.0.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pywin32
requests==2.32.3
sib-api-v3-sdk==7.6.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.9.0
